.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	min-height: 17em;
	line-height: 60px; [> Vertically center the text there <]
	background-color: #159e31;
}

.twitter-color {
fill: #1DA1F2;
}

.social-icons {
	width: 25%;
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 2em;
	padding-bottom: 2em;
}

.vertical-centering {
	display: flex;
	align-items: center;
}

.split {
	background: #007bff;
  color: white;
	height: 10rem;
	display: flex;
	align-items: center;
}

@media (max-width: 480px) {
	.split {
		background: #007bff;
		color: white;
		height: 10rem;
		display: flex;
		align-items: center;
		}
}
