{% extends "base.html" %}
{% load static %}
{% block content %}
<h1 class="my-5">{{ project.title }}</h1>

<img src="{{ project.image.url }}" class="img-fluid" alt="An image of {{ project.title }}.">

<div class="mt-3">
  <h5>{{ project.description }}</h5>
</div>

<div class="mt-3">
{% for keyword in project.keywords.all %}
		<a href="{{ keyword.get_absolute_url }}" class="badge badge-secondary" id="keyword">{{ keyword.slug }}</a>
{% endfor %}
</div>
<div class="mt-3">
<a href="{{ project.repo }}" class="btn btn-primary">GitHub</a>
</div>

<div class="my-3">
{{ project.text|safe }}
</div>

{% endblock content %}
