{% extends "base.html" %}
{% load static i18n %}
{% block content %}

<!-- META DESCRIPTION -->

{% if meta.description != None %}
  <div class="row">
    <div class="col">
      <h1 class="my-5">{{ meta.description }}</h1>
    </div>
  </div>
{% else %}
{% endif %}


<!-- CARD AREA -->
    {% for project in project_list %}
<div class="row">
  <div class="col-md-12">
  <div class="card border-0 my-2">
    <img src="{{ project.image.url }}" class="card-img-top rounded" alt="An image of {{ project.title }}.">
      <div class="card-body">
        <h2 id="project_title">{{ project.title }}</h2>
        <h5>{{ project.description }}</h5>
      </div>
    <div class="card-footer border-0">
      <ul class="list-inline">
        {% for keyword in project.keywords.all %}
          <li class="list-inline-item">
            <a href="{{ keyword.get_absolute_url }}" class="badge badge-secondary">{{ keyword }}</a>
          </li>
        {% endfor %}
      </ul>
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="{{ project.repo }}" class="btn btn-primary">GitHub</a>
      </li>
      <li class="list-inline-item">
        <a href="{{ project.get_absolute_url }}" class="btn btn-primary">Read More</a>
      </li>
    </ul>
  </div>
</div>
</div>
</div>
{% endfor %}
{% endblock content %}
